<div class="b-items__cars-one wow zoomInUp" data-wow-delay="0.5s">
    <div class="b-items__cars-one-img">
        <a href="{{ post.url }}">
            <img src="/car-images/{{ post.code | string }}/{{ post.pictures[0] | string }}.jpg" alt='{{ post.model }}' width="237" height="202" />
        </a>
        {% if post.vat %}
            <span class="b-items__cars-one-img-type m-premium">Iva deducibile</span>
        {% endif %}
    </div>
    <div class="b-items__cars-one-info">
        <h2><a href="{{ post.url }}" style="color:#525252;">{{ post.title }}</a></h2>
        <div class="row s-noRightMargin">
            <div class="col-md-9 col-xs-12">
                <p>{{ post.description }}</p>
                <div class="m-width row m-smallPadding">
                    <div class="col-xs-6">
                        <div class="row m-smallPadding">
                            <div class="col-xs-6">
                                <span class="b-items__cars-one-info-title">Marca:</span>
                                <span class="b-items__cars-one-info-title">Km:</span>
                                <span class="b-items__cars-one-info-title">Cambio:</span>
                            </div>
                            <div class="col-xs-6">
                                <span class="b-items__cars-one-info-value">{{ post.make }}</span>
                                <span class="b-items__cars-one-info-value">{{ post.km | string }}</span>
                                <span class="b-items__cars-one-info-value">{{ post.transmission }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row m-smallPadding">
                            <div class="col-xs-4">
                                <span class="b-items__cars-one-info-title">Motore:</span>
                                <span class="b-items__cars-one-info-title">Kw:</span>
                                <span class="b-items__cars-one-info-title">Color:</span>
                            </div>
                            <div class="col-xs-8">
                                <span class="b-items__cars-one-info-value">{{ post.fuelType }}</span>
                                <span class="b-items__cars-one-info-value">{{ post.kw }}</span>
                                <span class="b-items__cars-one-info-value">{{ post.color }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="b-items__cars-one-info-price">
                    <div class="pull-right">
                        <h3>Prezzo:</h3>
                        <h4>{{ post.price | string }} €</h4>
                    </div>
                    <a href="{{ post.url }}" class="btn m-btn">VEDI DETTAGLI<span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>