<footer class="b-footer">
    <a id="to-top" href="#this-is-top"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="b-footer__company wow slideInLeft" data-wow-delay="0.3s">
                    <div class="b-nav__logo">
                        <h3><a href="home.html">Ber<span>Car</span></a></h3>
                    </div>
                    <p>{{ site.contacts.address }} <br />
                            Email. {{ site.contacts.email }} </p>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="b-footer__content wow slideInRight" data-wow-delay="0.3s">
                    <div class="b-footer__content-social">
                        <a href="#"><span class="fa fa-facebook-square"></span></a>
                        <a href="#"><span class="fa fa-instagram"></span></a>
                    </div>
                    <nav class="b-footer__content-nav">
                        <ul>
                            <li><a href="{{ " /" | prepend: site.baseurl }}">Home</a></li>
                            <li><a href="{{ " /chisiamo" | prepend: site.baseurl }}">Chi Siamo</a></li>
                            <li><a href="{{ " /auto/" | prepend: site.baseurl }}">Auto</a></li>
                            <li><a href="{{ " /acquisto/" | prepend: site.baseurl }}">AcquistoAuto</a></li>
                            <li><a href="{{ " /contatti" | prepend: site.baseurl }}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--b-footer-->