--- 
layout: default 
single: true 
---

<section class="b-pageHeader">
    <div class="container">
        <h1 class="wow zoomInLeft" data-wow-delay="0.5s">{{ page.title }}</h1>
    </div>
</section>
<!--b-pageHeader-->

<div class="b-breadCumbs s-shadow wow zoomInUp" data-wow-delay="0.5s">
    <div class="container">
        <a href="{{ " /" | prepend: site.baseurl }}" class="b-breadCumbs__page">Home</a>
        <span class="fa fa-angle-right"></span>
        <a href="{{ " /auto/" | prepend: site.baseurl }}" class="b-breadCumbs__page">Auto</a>
        <span class="fa fa-angle-right"></span>
        <a href="#" class="b-breadCumbs__page m-active">{{ page.title }}</a>
    </div>
</div>
<!--b-breadCumbs-->

<div class="b-infoBar">
    <div class="container">
        <div class="row wow zoomInUp" data-wow-delay="0.5s">
            <div class="col-xs-3">
                {% if page.vat %}
                    <div class="b-infoBar__premium">Iva deducibile</div>
                {% endif %}
            </div>
            <div class="col-xs-9">
                <div class="b-infoBar__btns addthis_sharing_toolbox" style="text-align: right;">
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-infoBar-->


<section class="b-detail s-shadow">
    <div class="container">
        <header class="b-detail__head s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <div class="b-detail__head-title">
                        <h1>{{ page.title }}</h1>
                        <h3>{{ page.description }}</h3>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="b-detail__head-price">
                        <div class="b-detail__head-price-num">{{ page.price | string}} €</div>
                        <p>Passaggio di proprietà escluso</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="b-detail__main">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="b-detail__main-info">
                        <div class="b-detail__main-info-images wow zoomInUp" data-wow-delay="0.5s">
                            <div class="row m-smallPadding">
                                <div class="col-xs-10">
                                    <ul class="b-detail__main-info-images-big bxslider enable-bx-slider" data-pager-custom="#bx-pager" data-mode="horizontal"
                                    data-pager-slide="true" data-mode-pager="vertical" data-pager-qty="5">
                                        {% for picture in page.pictures %}
                                            <li class="s-relative">
                                                <img class="img-responsive center-block" src="/car-images/{{ page.code | string }}/{{ picture | string }}.jpg" alt="{{ page.title }}" />
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-xs-2 pagerSlider pagerVertical">
                                    <div class="b-detail__main-info-images-small" id="bx-pager">
                                        {% for picture in page.pictures %}
                                        <a href="#" data-slide-index="{{ forloop.index0 }}" class="b-detail__main-info-images-small-one">
                                            <img class="img-responsive" src="/car-images/{{ page.code | string }}/{{ picture | string }}.jpg" alt="{{ page.title }}" />
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-detail__main-info-text wow zoomInUp" data-wow-delay="0.5s">
                            <div class="b-detail__main-aside-about-form-links">
                                <a href="#" class="j-tab m-active s-lineDownCenter" data-to='#info1'>Descrizione</a>
                            </div>
                            <div id="info1">
                                <p>{{ content | excerpt }}</p>
                            </div>
                        </div>
                        <div class="b-detail__main-info-extra wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="s-titleDet">OPTIONALS</h2>
                            <div class="row">
                                {% for opt in page.optionals %}
                                    {% assign loopindex = forloop.index | modulo: 6 %}
                                        {% if loopindex == 1 %}
                                            <div class="col-xs-4">
                                                <ul>
                                                    <li><span class="fa fa-check"></span>{{ opt }}</li>
                                        {% elsif loopindex == 0 %}
                                                    <li><span class="fa fa-check"></span>{{ opt }}</li>
                                                </ul>
                                            </div>
                                        {% else %}
                                                    <li><span class="fa fa-check"></span>{{ opt }}</li>
                                        {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <aside class="b-detail__main-aside">
                        <div class="b-detail__main-aside-desc wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="s-titleDet">Descrizione</h2>
                            {% if page.make %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Marca</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ page.make }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if page.model %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Modello</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ page.model }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if page.year %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Anno</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ page.year }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if page.km %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Km</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ page.km }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if page.fuelType %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Engine</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ page.fuelType }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if page.engineCapacity %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Cilindrata</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ page.engineCapacity }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if page.kw %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Kw</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ page.kw }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if page.cylinders %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Cilindri</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ page.cylinders }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if page.fuelType %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Carburante</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ page.fuelType }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if page.transmission %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Cambio</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ page.transmission }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if page.color %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Color</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ page.color }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if page.internalColor %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Colore interni</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ page.internalColor }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if page.doors %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Passeggeri/Porte</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ page.doors }}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="b-detail__main-aside-about wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="s-titleDet">INTERESSATO A QUESTO VEICOLO</h2>
                            <div class="b-detail__main-aside-about-call">
                                <span class="fa fa-phone"></span>
                                <div>{{ site.contacts.phone1 }}</div>
                                <p>{{ site.opening-hours.sales }}</p>
                            </div>
                            <div class="b-detail__main-aside-about-seller">
                                <p>Info: <span>{{ site.contacts.address }}</span></p>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-detail-->